body {
  font-family: tahoma;
  color: #282828;
  margin: 0px;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  margin-bottom: 15px;
}

.product {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
}

img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  box-shadow: 0px 0.5px 1px #d8d8d8;
}

.product-image,
.product-info {
  margin-top: 10px;
}

.product-image {
  width: 40%;
}

.product-info {
  width: 60%;
}

.product-image img {
  max-height: 100%;
  max-width: 100%;
}

.color-box {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}

.color-box-wrapper,
.button-row-wrapper,
.product-image-description-wrapper {
  display: flex;
  flex-direction: row;
}

.product-image-description-wrapper {
  min-height: 500px;
  height: auto;
}

.cart {
  margin: 25px 25px;
  float: right;
  border: 1px solid #d8d8d8;
  padding: 5px 20px;
}

button {
  margin: 1rem 1rem 0 1rem;
  border: none;
  background-color: #1e95ea;
  color: white;
  height: 60px;
  width: 120px;
  font-size: 16px;
}

.disabledButton {
  background-color: #d8d8d8;
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}

input {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 60px;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16c0b0;
  text-decoration: underline;
}

.outOfStock {
  text-decoration: line-through;
}

.product-tab-div {
  width: 100vw;
}
